<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/navbar}">
<div layout:fragment="main_section" class="bg-gradient-3">
    <h1 class="text-center text-light pt-3">Authors <i class="fa-solid fa-users"></i></h1>
    <div class="text-center mt-3">
        <a class="btn btn-primary rounded-pill text-light" th:href="@{/authors/suggest}" style="font-size: 35px">Suggest author <i class="fa-solid fa-user-plus"></i></a>
    </div>
    <div class="d-flex justify-content-center g-4 py-2 row-cols-1 row-cols-lg-5 row ms-3 me-3 mt-3">
        <a class="card bg-light border rounded-pill border-dark d-flex justify-content-center mt-2" th:href="'/authors/' + ${author.getId()}"  th:each="author : ${authors}" style="text-decoration: none;">
            <div class="ms-2 me-auto text-black">
                <div class="fw-bold" th:text="${author.getFullName()}"></div>
            </div>
        </a>
    </div>

</div>